mixin header
    header.header.header-desktop.d-xl-flex
        a.header__logo(href=url('/'))
            img(src=url('/images/logo-pink-darkblue.svg'))
        ul.header__menu
            li
                a(href=url('/', locale)) About
            li
                a(href=url('/docs.html', locale)) Docs
            li
                a(href=url('/basilisk.html', locale)) Basilisk
            li
                a(href=url('/join-hydration.html', locale)) Join Hydration
        .header__actions
            - var currentLanguage = 'Eng'
            ul.language-menu
                each language, _locale in header.languages
                    if _locale === locale
                        - currentLanguage = language
                    li
                        a(href=url('/', _locale))=language
                li.d-xl-none
                    a.back(role='button') Back

            div.language-selector
                img.language-selector__global(src=url('/images/global.svg'))
                span.language-selector__current=currentLanguage
                img.language-selector__arrow-down(src=url('/images/arrow-down.svg'))


            a.btn.btn__md.btn-launch-app(href='#') Launch App
    header.header-mobile.d-xl-none
        div.header-mobile__hamberger(role='button')
            div.header-mobile__hamberger-meat
        div.header-mobile__main
            a.header-mobile__logo(href=url('/', locale))
                img(src=url('/images/logo-hydradx-mobile.png'))

